/* -------body--------- */

html { 
  font-size: 62.5%; 
}

body{
  margin: 0;
  /* -webkit-appearance: none; */
  font-family: 'mr-eaves-modern', sans-serif;
}


/* -------header--------- */

.header_1{
height: 40px;
padding: 8px;
background-color: rgb(248,248,248);
border-bottom: solid 1px rgb(229,231,235);
text-align: center;
max-width: 100%;
}

.header_logo{
  height: 40px;
}

.header_2{
  height: 36px;
  padding: 8px;
  background-color: #fff;
  border-bottom: solid 1px rgb(229,231,235);
  display: flex;
  justify-content: center;
  align-items: center;
}




/* -------main--------- */

main{
  margin-bottom: 63px; /* フッター被り分 */
}



.head_tab{
  display: flex;
  border-bottom: solid 1.5px #E88D80;
}

/* .head_tab li{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 40px;
  font-size: 1.4rem;
  border: 1px solid #d9d9d9;
} */

.tab{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: calc(100% / 3);
  height: 40px;
  font-size: 1.4rem;
  background-color: #F5F5F5;
  border: 1px solid #d9d9d9;
}

.tab_active{
  background-color: #E88D80;
  border: solid 1px #E88D80;
  color: #fff;
}



.filter_wrapper{
  position: relative;
}

.filter {
  display: flex;
  margin: 1.4rem 0;
  overflow: scroll;
  width: calc(100vw - 112px);
}

.filter span{
  background-color: #f5f5f5;
  /* border: 1px solid #d9d9d9; */
  border-radius: 0.8rem;
  padding: 0.8rem 0.8rem;
  margin: 0 0.6rem;
  font-size: 1.2rem;
  white-space: nowrap;
  vertical-align: middle;
  text-transform: uppercase;
  letter-spacing: .08em;
}

.sort{
  -webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
  border: 1px solid #d9d9d9;
  border-radius: 0.8rem;
  height: 28px;
  width: 108px;
  padding-left: 26px;

  position: absolute;
  right: 0;
  top: 0;
}


.sort:focus{
  -webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
  outline: none; /* 初期設定の青枠除去 */
  border: 1px solid #E88D80;
}

.sort_icon{
  background-image: url(img/icon_funnel.svg);
  background-repeat: no-repeat;
  background-size: 12px;
  background-position: left 10px center;
}

.item_quantity{
  margin-bottom: 1.2rem;
  margin-left: 0.6rem;
}

.item_quantity span{
  margin: 0 0.4rem;
}


.category_bar{
  width: 100%;
  height: 2.8rem;
  background-color: #FEE5DB;
  display: flex;
  align-items: center;
}

.category_bar span{
  margin-left: 0.6rem;
  font-size: 1.4rem;
  text-transform: uppercase;
}



/* ------------------- */

.product-list{
  display: flex;
  flex-wrap: wrap;
}


.product-list > li {
  background-color: #fff;
  flex: 0 33.33%;
  max-width: 33.33%;
}

.product-item {
  border-right: 1px solid #d9d9d9;
  height: 100%;
}



.product-item__img {
  display: block;
  /* height: 15.1rem; */
  /* width: 100%; */
  margin-right: -0.1rem;
  position: relative;
  overflow: hidden;
}

.product-item__img img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.product-item__info {
  padding: 0.6rem 0.4rem 1.6rem;
}

.product-item__brand {
  height: 1.2rem;
  font-size: 1.2rem;
  color: #666;
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 0.6rem;
}

.product-item__name {
  height: 1.2rem;
  font-size: 1.2rem;
  /* font-weight: 600; */
  /* white-space: nowrap; */
  overflow: hidden;
  margin-bottom: 0.6rem;
}

.product-item__sku {
  height: 1.0rem;
  font-size: 1.0rem;
  color: #666;
  /* font-weight: 600; */
  /* white-space: nowrap; */
  overflow: hidden;
  margin-bottom: 0.6rem;
}

.product-item__desc_wrapper{
  position: relative;
}

.product-item__desc {
  height: 2.0rem;
  width: calc(100% - 16px);
  font-size: 1rem;
  /* white-space: nowrap; */
  overflow: hidden;
  margin-bottom: 0.6rem;
}

.name_edit{
  position: absolute;
  bottom: 0.2rem;
  right: 0;
  width: 1.2rem;
}

.product-item__bar {
  border-bottom: dotted 0.5px #666;
  margin-bottom: 1rem;
}


.btn-itemdetail_wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
}


.btn-itemdetail {
  background-color: #e88d80;
  border-radius: 0.4rem;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.6rem;
  width: 11rem;
  font-size: 1rem;
  text-decoration: none;
}






/* -------footer--------- */

.footer{
  position: fixed;
  bottom: 0;
  height: 62px;
  box-sizing: border-box;
  padding: 0 8px;
  background-color: rgb(248,248,248);
  border-top: solid 1px rgb(229,231,235);
  text-align: center;
  width: 100%;
}

.footer_list{
  width: 20%;
}

.footer-icons{
  display: flex;
  justify-content: space-evenly;
  font-size: 0.875rem;
  margin: 0;
  padding: 10px 0;
}

.footer-icons img{
  width: 24px;
  height: 24px;
  margin: 0;
  padding: 0;

}

.footer-icons p {
  margin: 0;
  padding: 0;
}


/* メディアクエリ（PC版） */



@media screen and (min-width:768px){
  body {
  width: 375px;
  margin: 0 auto;
  }

  .filter{
    width: calc(375px - 112px);
  }

  .product-item {
    /* width: calc(124px);  375px÷3から-1px */
  }


  .footer {
    width: 375px;
    margin: 0 auto;
  }

}


